amqp==5.1.1
argcomplete==2.0.0
asgiref==3.6.0
astroid==2.15.2
asttokens==2.4.1
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.9.3
bigml==6.2.2
bigml-chronos==1.0.0
billiard==3.6.4.0
black==23.1.0
blis==0.7.9
catalogue==2.0.8
celery==5.2.7
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coloredlogs==7.3
comm==0.2.2
coreapi==2.3.3
coreschema==0.0.4
coverage==7.2.3
cron-descriptor==1.2.35
cryptography==40.0.1
cymem==2.0.7
daystrom-solutions @ git+ssh://git@github.com/bigmlcom/daystrom-solutions@5e2ce6ca101b0a41ee56716abf9db4d527612a8c
dbus-python==1.2.16
debugpy==1.8.2
decorator==4.4.2
dill==0.3.6
distlib==0.3.6
docstring-to-markdown==0.12
drf-yasg==1.21.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl#sha256=5e02939fb7fbae6dbcc9c5a1355f5e4e02939b649a1f0846ee844ac1d479bbeb
exceptiongroup==1.1.1
executing==2.0.1
filelock==3.8.0
flake8==6.0.0
flower @ git+https://github.com/mher/flower@a4fc7c97d897a3172d1058d5269115eb88d811de
gprof2dot==2022.7.29
gunicorn==20.1.0
html5lib==1.1
humanfriendly==9.1
humanize==4.6.0
idna==2.10
img2pdf==0.4.0
importlib_metadata==8.0.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
ipython_genutils==0.2.0
isort==5.12.0
isoweek==1.3.3
itypes==1.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.6.2
jupyter_core==5.7.2
kombu==5.2.4
langcodes==3.3.0
langdetect==1.0.9
lazy-object-proxy==1.9.0
libvirt-python==7.0.0
lxml==4.6.3
MarkupSafe==2.1.2
matplotlib-inline==0.1.7
mccabe==0.7.0
more-itertools==4.2.0
msgpack==1.0.5
murmurhash==1.0.9
mypy==1.2.0
mypy-extensions==1.0.0
mypy-ls==0.5.1
nest-asyncio==1.6.0
numpy==1.21.6
ocrmypdf==10.3.1+dfsg
olefile==0.46
packaging==23.0
parso==0.8.3
pathspec==0.11.0
pathy==0.10.1
pbr==5.10.0
pdfminer.six==20220319
pdfplumber==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==1.17.3+dfsg
Pillow==9.5.0
pipx==1.1.0
platformdirs==2.5.2
pluggy==1.0.0
preshed==3.0.8
prometheus-client==0.16.0
prompt_toolkit==3.0.47
psutil==6.0.0
pure-eval==0.2.2
pycairo==1.16.2
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pydantic==1.8.2
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==2.6.0
pylint==2.17.2
pyls-flake8==0.4.0
pyls-isort==0.2.2
pylsp-mypy==0.6.6
PyStemmer==2.0.1
pytest==7.3.0
pytest-celery==0.0.0
pytest-cov==4.0.0
pytest-django==4.5.2
python-crontab==2.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
pytoolconfig==1.2.5
pytz==2023.3
PyYAML==5.3.1
pyzmq==26.0.3
redis==3.5.3
reportlab==3.5.59
requests==2.25.1
requests-toolbelt==0.10.1
rope==1.7.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
smart-open==6.3.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soupsieve==2.2.1
spacy==3.2.5
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.6
stack-data==0.6.3
stevedore==4.0.1
thinc==8.0.17
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
tornado==6.2
tqdm==4.65.0
traitlets==5.14.3
typer==0.4.2
typing_extensions==4.5.0
tzdata==2023.3
ujson==5.7.0
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.5
userpath==1.8.0
vine==5.0.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Wand==0.6.11
wasabi==0.10.1
wcwidth==0.2.6
webencodings==0.5.1
whatthepatch==1.0.4
wrapt==1.15.0
yapf==0.32.0
zipp==1.0.0
